{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap" rel="stylesheet">

<style>
  html,
  body {
    font-family: "Roboto", Arial, Helvetica, sans-serif
  }

  .dark-theme {
    background: #303030;
    color: #fff;
  }

  .dark-theme div.card {
    background-color: #212121;
    color: #fff;
  }

  .login-form-container {
    /* width: 300px; */
    margin: auto;
  }

  .registration-form-container {
    /* width: 400px; */
    margin: auto;
  }

  .vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-) */

    display: flex;
    align-items: center;
  }

</style>
{% endblock %}

{% block content %}
<div class="vertical-center dark-theme">
  <div class="container">
    <div class="row justify-content-center">
      <div class="auth-box text-center col-6 align-self-center">
        {% block authcontent %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
